<div class="container">
    <div class="columns">

        <!-- insert partial\menu_student.handlebars here -->
        {{> menu_student}}
<!--
        <div id="quizResults" class="column is-three-quarter hide">
            <label class="classheading">Choose a class:</label>
            <p class="control">
                <span class="select">
                    <select>
                        {{#each class}}
                        <option>
                            {{classes}}
                        </option>
                        {{/each}}
                    </select>
                </span>
            </p>
            <br>
            <br>
            <table class="table">

                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Marks</th>
                        <th>Full Marks</th>
                    </tr>
                </thead>
                {{#each student}}
                <tr>
                    <td>{{week}}</td>
                    <td>{{quizMarks}}</td>
                    <td>{{fullMarks}}</td>
                </tr>
                {{/each}}


            </table>
        </div>
-->
        <div id="studentDetails" class='column is-three-quarter show '>
            <h3 class="title">
                Student Details
            </h3>
            <div class="field">
                <label class="label">Email (username)</label>
                <p>{{email}}</p>
            </div>

            <div class="field">
                <label class="label">First Name</label>
                <p>{{name}}</p>
            </div>
            <div class="field">
                <label class="label">Mobile</label>
                <p>{{phone}}</p>
            </div>
            <div class="field">
                <label class="label">Date of Birth</label>
                <p>{{bithdate}}</p>
            </div>
            <div class="field">
                <label class="label">Address</label>
                <p>{{address}}</p>
            </div>

            <div class="field">
                <label class="label">School</label>
                <p>{{school}}</p>
            </div>

            <div class="field">
                <label class="label">Year Group</label>
                <p>{{yeargroup}}</p>
            </div>

            <h3 class="title">
                Guardian Details
            </h3>
            <div class="field">
                <label class="label">Email</label>
                <p>{{Parent.email}}</p>
            </div>

            <div class="field">
                <label class="label">Name</label>
                <p>{{Parent.name}}</p>
            </div>
            <div class="field">
                <label class="label">Mobile</label>
                <p>{{Parent.phone}}</p>
            </div>

        </div>

    </div>
</div>