<script src="/js/sms.js"></script>

<div class="container">
    <div class="columns">
        
        <!-- insert partial\menu_student.handlebars here -->
        {{> menu_staff}}

          <div class="table-container">
            <table class="table is-hoverable is-striped is-narrow">
              <thead>
                <tr>
                  <th>
                    <div class="buttons">
                      <button id="addAll" class="button is-light">All</button>
                    </div>
                  </th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>School</th>
                  <th>Year</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Guardian Name</th>
                  <th>Guardian Phone</th>
                  <th>Guardian Email</th>
                </tr>
                {{#each students}}
                <tr>
                    <td>
                      <div class="buttons">
                      <button id="addNumber" class="button is-white addNumber">+</button>
                    </div>
                    </td>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td class="mobileNumber">{{phone}}</td>
                    <td>{{school}}</td>
                    <td>{{yeargroup}}</td>
                    <td>{{email}}</td>
                    <td>{{address}}</td>
                    <td>{{parentname}}</td>
                    <td>{{parentphone}}</td>
                    <td>{{parentemail}}</td>
                </tr>
                {{/each}}                
              </thead>
            </table>


    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label class="label">Send To</label>
              <div class="control">
                <input class="input" id="studentNumInput" type="text" placeholder="">
              </div>
            </div>
            <!--
            <div class="field">
              <label class="label">Send via:</label>
              <div class="control">
                <div class="select">
                  <select>
                    <option>SMS</option>
                    <option>Email</option>
                  </select>
                </div>
              </div>
            </div>
            -->
            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea class="textarea" id="messages" placeholder="Message"></textarea>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" id="sendMsg">Send to all</button>
              </div>
              <div class="control">
                <button id="clearBtn" class="button is-link is-light">Clear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
