<div class="container">
    <div class="columns">

        <!-- insert partial\menu_student.handlebars here -->
        {{> menu_student}}
<!--
        
            
-->
        <div id="studentDetails" class='column is-three-quarter show '>
            <h3 class="title1">
                Student Details
            </h3>
            <div class="field">
                <label class="label">Email (username)</label>
                <p>{{useremail}}</p>
            </div>

            <div class="field">
                <label class="label">First Name</label>
                <p>{{username}}</p>
            </div>
            <div class="field">
                <label class="label">Mobile</label>
                <p>{{userphone}}</p>
            </div>
            <div class="field">
                <label class="label">Date of Birth</label>
                <p>{{bithdate}}</p>
            </div>
            <div class="field">
                <label class="label">Address</label>
                <p>{{address}}</p>
            </div>

            <div class="field">
                <label class="label">School</label>
                <p>{{school}}</p>
            </div>

            <div class="field">
                <label class="label">Year Group</label>
                <p>{{yeargroup}}</p>
            </div>

            <h3 class="title1">
                Guardian Details
            </h3>
            <div class="field">
                <label class="label">Email</label>
                <p>{{parenetemail}}</p>
            </div>

            <div class="field">
                <label class="label">Name</label>
                <p>{{parentname}}</p>
            </div>
            <div class="field">
                <label class="label">Mobile</label>
                <p>{{parentphone}}</p>
            </div>

        </div>

    </div>
</div>